*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* INIZIO generale */
body{
    font-family: 'Roboto', sans-serif;
}

.container{
    margin: auto;
    width: 70%;
}

.clearfix{
    content:"";
    display: table;
    clear: both;
}
/* FINE generale */

/* INIZIO nav */
.background-nav{
    background-color: royalblue;
}

nav{
    height: 60px;
    width: 100%;

    font-size: 13px;
}

.spazio-nav{
    float: left;
    height: 100%;
}

.spazio-nav.logo{
    height: 100%;
    padding: 15px;
    width: calc(100% / 5);
}

nav img{
    height: 100%;
}

nav ul{
    line-height: 60px;
    text-align: center;
    width: calc((100% / 5) * 3);
}

nav li{
    display: inline-block;
    margin-right: 10px;
}

nav a{
    text-decoration: none;
    color: white;
    padding-right: 5px;
}

nav a:hover{
    text-decoration: underline;
}

.spazio-nav.accesso{
    line-height: 60px;
    text-align: right;
    width: calc(100% / 5);
}

.spazio-nav.accesso .button{
    display: inline-block;
    line-height: 30px;
    padding: 0 10px;
    background-color: white;
    border-radius: 15px;
}
/* FINE nav */

/* INIZIO header section */
.background-header-section{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

header section{
    color: white;
    text-align: center;
    padding: 70px;
    height: 400px;
}

header section h1{
    font-size: 50px;
}

header section .testo{
    padding: 40px 90px 30px 90px;
}

header section .button{
    display: inline-block;
    color: black;
    line-height: 50px;
    padding: 0 30px;
    background-color: white;
    border-radius: 25px;
}

header section .button.black{
    color: white;
    background-color: rgb(46, 46, 46);
}
/* FINE header section */

/* INIZIO debug */
.debug .container{
    background-color: lightgray;
}

.debug nav{
    background-color: red;
}

.debug header section{
    background-color: seagreen;
}

/* FINE debug */