*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* INIZIO generale */
body{
    font-family: 'Roboto', sans-serif;
}

.container{
    margin: auto;
    width: 70%;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

h1{
    font-size: 50px;
    line-height: 40px;
    margin-bottom: 30px;
}

.button{
    display: inline-block;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 15px;
}

img{
    height: 100%;
    width: 100%;
}
/* FINE generale */

/* INIZIO header */
/* INIZIO nav */
.background-nav{
    background-color: royalblue;
}

nav{
    height: 60px;
    font-size: 13px;
}

.spazio-nav{
    float: left;
    height: 100%;
}

.spazio-nav.logo{
    height: 100%;
    padding: 15px;
    width: calc(100% / 5);
}

nav ul{
    line-height: 60px;
    text-align: center;
    width: calc((100% / 5) * 3);
}

nav li{
    display: inline-block;
    margin-right: 10px;
}

nav a{
    text-decoration: none;
    color: white;
    padding-right: 5px;
}

nav a:hover{
    text-decoration: underline;
}

.spazio-nav.accesso{
    line-height: 60px;
    text-align: right;
    width: calc(100% / 5);
}

.spazio-nav.accesso .button{
    background-color: white;
}
/* FINE nav */

/* INIZIO header section */
.background-header-section{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

header section{
    color: white;
    text-align: center;
    padding: 70px;
}

header section h1{
    color: white;
}

header section .testo{
    padding: 40px 90px 30px 90px;
}

header section .button{
    color: black;
    line-height: 50px;
    padding: 0 30px;
    background-color: white;
    border-radius: 25px;
}

header section .button.black{
    color: white;
    background-color: rgb(46, 46, 46);
    margin-left: 20px;
}
/* FINE header section */
/* FINE header */

/* INIZIO main */
/* INIZIO prima sezione light */
.container.light .immagine{
    float: left;
    width: 60%;
    padding: 120px 0;
}

.container.light .testo{
    float: left;
    width: 40%;

    padding: 150px 0 0 60px;
}
/* FINE prima sezione light */

/* INIZIO prima sezione dark */
.background-dark{
    background-color: rgb(243, 243, 243);
}

.container.dark .immagine{
    float: left;
    width: 60%;
    padding: 120px 0;
}

.container.dark .testo{
    float: left;
    width: 40%;

    padding: 150px 60px 0 0;
}
/* FINE prima sezione dark */

/* INIZIO seconda sezione light */
.container.light-2 .immagine{
    float: left;
    width: 100%;
    padding: 30px 0;
}

.container.light-2 .testo{
    float: left;
    width: 100%;

    padding: 150px 0 0 0px;
    text-align: center;
}
/* FINE seconda sezione light */

/* INIZIO sezione download */
.download{
    text-align: center;
    padding-bottom: 50px;
}

.stelle{
    background-image: url(../img/stars.svg);
    background-size: cover;
    height: 50px;
    width: 540px;
    padding-top: 25px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.download .button{
    background-color: royalblue;
    color: white;
}
/* FINE sezione download */
/* FINE main */

/* INIZIO footer */
footer{
    background-color: rgb(58, 58, 58);
    color: white;
}

footer h2{
    color: royalblue;
}

footer .immagine{
    display: inline-block;
    width: 20px;
}

footer ul{
    list-style: none;
}

footer ul li:first-child{
    color: royalblue;
}

.column{
    float: left;
    width: calc(100% / 5);
    padding-top: 60px;
}

.bottom-footer{
    height: 70px;
}
/* FINE footer */

/* INIZIO debug */
.debug nav{
    background-color: red;
}

.debug header section{
    background-color: seagreen;
}

.debug .light{
    background-color: salmon;
}

.debug .dark{
    background-color: indigo;
}

.debug .light-2{
    background-color: lawngreen;
}

.debug .download{
    background-color: lightgreen;
}

/* FINE debug */