*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* INIZIO generale */
body{
    font-family: 'Roboto', sans-serif;
}

.container{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.clearfix{
    content:"";
    display: table;
    clear: both;
}
/* FINE generale */

.nav-background{
    height: 50px;
    background-color: royalblue;
}
/* INIZIO nav */
nav{
    width: 100%;
    height: 50px;
}

.spazio-nav{
    float: left;
    height: 100%;
}

.spazio-nav.logo{
    padding: 10px;
    width: calc(100% / 5);
}

nav img{
    height: 100%;
}

nav ul{
    line-height: 50px;
    text-align: center;
    width: calc((100% / 5) * 3);
}

nav li{
    display: inline-block;
}

nav a{
    text-decoration: none;
    color: white;
    padding-right: 5px;
}

nav a:hover{
    text-decoration: underline;
}

.spazio-nav.accesso{
    line-height: 50px;
    text-align: right;
    width: calc(100% / 5);
}

.spazio-nav.accesso .button{
    display: inline-block;
    line-height: 30px;
    padding: 0 10px;
    background-color: white;
    border-radius: 15px;
}
/* FINE nav */

/* INIZIO header section */
header section{
    color: white;
}


/* FINE header section */

/* INIZIO debug */
.debug{
    background-color: lightgray;
}

.debug nav{
    background-color: red;
}

.debug header section{
    background-color: seagreen;
}

/* FINE debug */